<!--<?xml version="1.0" encoding="UTF-8"?>-->
<p class="ion-padding ion-text-center">
  Refresh the page a couple of times.<br/>
  Sometimes you will see a black circle.<br/>
  Sometimes it won't load.<br/>
</p>
<svg #mySvg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" [attr.viewBox]="viewBox">
  <g id="mytextgroup">
    <text x="100" y="155">Hello World</text>
    <text x="100" y="175">From An SVG File!</text>
  </g>
  <g id="mygroup">
  <circle id="myCircle"
  cx="100" cy="75" r="50"
  stroke="firebrick"
  stroke-width="3" />
</g>
</svg>
